/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navigation Bar Styles */
nav {
  background-color: #333333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 150px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #e4234d;
}

/* Hero Section Styles */
.hero {
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("./assets/hero.jpeg") no-repeat center center;

  background-size: cover;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

/* About Section Styles */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.about img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
}

.about h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  color: #333333;
}

.short-description {
  max-height: 150px; /* Altura máxima para la descripción corta */
  overflow: hidden;
}

.full-description {
  display: none; /* Inicialmente oculta la descripción completa */
  max-height: none; /* Elimina la altura máxima para mostrar todo el texto */
}

#show-more-btn {
  background-color: #e4234d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#show-more-btn:hover {
  background-color: #c4183d;
}

/* Contact Section Styles */
.contact {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.contact h2 {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #e4234d;
}

.contact input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  /* nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  nav a {
    margin: 10px 0;
  } */
}
